/* Home */
.home {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.home_content {
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
}

.home_content::before {
    content: "";
    display: table;
    clear: both; 
}   

.home_content::after {
    content: "";
    display: table;
    clear: both; 
}  

.home_content-item {
    width: 100%;
    float: left;
    text-align: center;
}

.home_content-list {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    display: block;
    width: 100%;
}

.home_content-list:hover {
    background-color: #ccc;
    color: #000;
}

.ss {
    width: 24.9999%;
}

.home_img {
    background: url('./coffeehouse.jpg');
    padding-top: 60%;
    margin-top: 48px;
    position: relative;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}

.home_img-item-head {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 8px 16px;
}

.home_img-item-between {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 180px;
    height: 270px;
}   

.home_img-item-last {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 8px 16px;
}

.home_img-list-head {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0 8px;
    font-size: 1.3rem;
    font-family: "Inconsolata", sans-serif;
}

.home_img-list-between {
    font-size: 90px;
    color: #fff;
    text-align: center;
    font-family: "Inconsolata", sans-serif;
    line-height: 11rem;
}

.home_img-list-last {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Inconsolata", sans-serif;
}

/* content  */
    
.content {
    background-color: #fbfaf9;
    color: #000;
    font-size: 1.6rem;
}
/* Content_about */
.content_about {
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.content_about-head {
    padding: 64px 0;
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 44px;
}

.content_about-head-child {
    padding: 3px 8px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    letter-spacing: 4px;
}

.content_about-describe {
    margin: 18px 0;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
}

.content_about-between {
    background-color: #f1f1f1;
    padding: 0 16px;
    margin: 16px 0;
    border-left: 5px solid #ccc;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
}

.content_about-between-item{
    margin: 16px 0;
}

.content_about-img {
    width: 100%;
    margin-top: 16px;
    filter: grayscale(50%);
}

.content_about-last {
    margin: 16px 0 ;
}

/* Content_menu */
.content_menu {
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

.content_menu-heading {
    
}

.content_menu-title {
    padding: 48px 0;
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

.content_menu-title-child {
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 3px 8px;
    font-size: 20px;
    letter-spacing: 4px;
}

.content_menu-between {
    padding: 8px 16px;
    text-align: center;
    color: #000;
    line-height: 2.4rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.content_menu-between::before {
    content: "";
    display: table;
    clear: both; 
}

.content_menu-between::after {
    content: "";
    display: table;
    clear: both; 
}

.content_menu-item {
    text-decoration: none;
}

.content_menu-item-child {
    float: left;
    width: 50%;
    color: #757575;
    background-color: #fff;
}
.menus {
    display: none;
}
.content_menu-list{
    padding: 48px 16px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.content_menu-items {
    margin: 10px 0;
    font-size: 1.7rem;
    font-weight: 400;
}

.font {
    margin: 18px 0;
    color: #757575;
}

.w3-dark-grey {
    color: #fff;
    background-color: #616161;
}

.content_menu-img {
    width: 100%;
    margin-top: 32px;
}

/* Conten_where */
.conten_where {
    padding: 0 16px 32px 16px;
    margin-left: auto;
    margin-right: auto;
}

.content_where-head {
    padding: 48px 0;
    margin: 10px 0;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

.content_where-head-child {
    color: #fff;
    background-color: #000;
    text-align: center;
    display: inline-block;
    padding: 3px 8px;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
}

.content_where-item {
    margin: 18px 0 ;
}

.content_where-img {
    width: 100%;
    height: auto;
}

.content_where-list {
    margin: 18px 0;
    line-height: 2.4rem;
}

.content_where-list-child {
    color: #fff;
    background-color: #000;
    padding: 3px 8px;
    text-align: center;
}

.content_where-form {
    margin: 18px 0;
}

.content_where-form-item {
    padding: 16px 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.7rem;
} 

.content_where-form-child {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    font-size: 1.7rem;
    font-weight: 400;
    cursor: pointer;
}

.content_where-form-child:hover {
    color: #000;
    background-color: #ccc;
}
/* End */
.end {
    padding: 48px 0;
    text-align: center;
}

.end_item {
    margin: 18px 0;
    font-size: 1.7rem;
}
.end_list {
    color: #000;
}

.end_list:hover {
   color:  #4CAF50;
}